{% extends 'core/base.html' %}

{% block content %}
<h2>🔥 Hilo: {{ hilo.titulo }}</h2>
<p>{{ hilo.asunto }}</p>
{% if hilo.imagen %}
  <img src="{{ hilo.imagen.url }}" alt="Imagen del hilo" class="img-fluid rounded mt-3" style="max-width: 500px;">
{% endif %}

<p><em>Creado el {{ hilo.fecha_creacion }}</em></p>
<p><strong>🔥 Iniciado por:</strong> {{ hilo.usuario.user.username }} 
<em>({{ hilo.usuario.rol.tipo_rol }})</em></p>

<hr>
<h3>💬 Respuestas del clan</h3>
<ul>
  {% for post in posts %}
      <li>
        <strong>{{ post.usuario.nombre }}</strong> 
        <em>({{ post.usuario.rol.tipo_rol }})</em> dijo:<br>
        {{ post.asunto }}<br>
        {% if post.imagen %}
          <img src="{{ post.imagen.url }}" alt="Imagen del post" class="img-fluid rounded mt-2" style="max-width: 400px;">
        {% endif %}

        <em>{{ post.fecha_creacion }}</em>
      </li>

  {% empty %}
    <li>No hay respuestas aún. El fuego espera su primera chispa.</li>
  {% endfor %}
</ul>

<a href="{% url 'crear_post' hilo.id_thread %}" class="btn btn-sm btn-warning mt-3">💬 Responder</a>
{% endblock %}
