{% extends 'core/base.html' %}
{% block content %}
<section class="container mt-5">
  <div class="perfil-clan p-4 rounded shadow">
    <h2 class="text-warning text-center">🧙 Perfil del usuario</h2>
    <p><strong>Usuario:</strong> {{ usuario.user.username }}</p>
    <p><strong>Nombre:</strong> {{ usuario.nombre }} {{ usuario.apellido }}</p>
    <p><strong>Rol:</strong> {{ usuario.rol.tipo_rol }}</p>
    <p><strong>Fecha de creación:</strong> {{ usuario.fecha_creacion|date:"d M Y H:i" }}</p>
  </div>
</section>
{% endblock %}
